
body{
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    justify-content: center;
    background-image:url(/login_imagens/background_tayta.jpeg);
    background-size:cover;    
}

.main-container{
    max-width: 1280px;
    width: 50vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    align-items: center;
    background-color: transparent;
   
}

section{
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    font-family: "Roboto", sans-serif;
    
}

.formulario{
    display: flex;
    width: 60%;
    flex-direction: column;
    margin-top: 40px;
}

.formulario h2{
    font-size: 40px;
    color: white; 
    text-align:center; 
}

.email{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.email label{
     color: white;
    font-size: 30px;
    margin-top: 30px;
}

.email input{
    width: 100%;
    margin-top: 8px;
    height: 50px;
    border-radius: 8px;
    font-size: 16px;
}

.usuario{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.usuario label{
    color: white;
    font-size: 30px;
}

.usuario input{
    width: 100%;
    margin-top: 8px;
    height: 50px;
    border-radius: 8px;
    font-size: 16px;
}

.senha{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.senha label{
    color: white;
    font-size: 30px;
    margin-top: 30px;
}

.senha input{
    width: 100%;
    margin-top: 8px;
    height: 50px;
    border-radius: 8px;
    font-size: 16px;
}

.submit-button{
    width: 100%;
}

.submit-button button{
    margin-top: 30px;
    width: 50%;
    margin-left: 25%;
    height:50px;
    border-radius: 9999px;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    background-color: #0084FF;
    color: white;
}

.submit-button button:hover{
    border: solid 4px white;
}

.voltar-button .btn-voltar{
    display: inline-block;
    margin-top: 30px;
    width: 30%;
    margin-left: 35%;
    height:50px;
    line-height:50px;
    border-radius: 9999px;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border: none;
    background-color: #0084FF;
    color: white;
}

.voltar-button .btn-voltar:hover{
    border: solid 4px white;
}

/* Small responsive tweak for cadastro page */
@media (max-width:720px){
  .main-container{ width:90vw; margin-top:8vh }
  .formulario{ width: 100% }
  section{ width: 100% }
  .submit-button button{ width: 80%; margin-left:10% }
    .voltar-button .btn-voltar{ width: 80%; margin-left:10%; margin-right:10% }
}
