
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.gap-3{
    margin-right: 240px;
}

.conteinar-principal {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    gap: 20px;
}

.colaboradores {
    flex: 3;
    padding-right: 20px;
}

.colaboradores h3{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.table {
    width: 100%;
    background: #C8D6E5;
    border-radius: 10px;
    margin-top: 15px;
    padding-bottom: 0;
    margin-left: 0;
    overflow: hidden;
    margin-left: 20px;
}

.table-head,
.row-b {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.row-b:hover{
    border: 2px solid white;
}

.table-head {
    background: #647A95;
    padding: 12px 20px;
    color: white;
    font-weight: bold;
}

.row-b {
    padding: 12px 20px;
    border-bottom: 1px solid #b1c1d2;
    align-items: center;
}


.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-img {
    width: 40px;
    height: 40px;
    background: #eee;
    border-radius: 50%;
}

.user-img {
    background-image: url("imagens/foto-usuario.jpg");
    background-size: cover;
    background-position: center;
}
.status.online {
    color: green;
    font-weight: bold;
}

.status.offline {
    color: gray;
    font-weight: bold;
}

.user-info span {
  background: transparent !important; 
}

.activity {
    flex: 1;
    max-width: 260px;
    background: #DCE4ED;
    padding: 20px;
    border-left: 2px solid #cdd9e5;
    height: 100%;
}

.activity-item {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
}

.activity-item:hover{
    border: 3px solid white;
}

.circle {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background: #77B3E7;
}


/***************Responsividade**************************/

/* Tablets (até 1024px) */
@media (max-width: 1024px) {
    .container-principal{
        justify-content: center;
        gap: 40px;
    }

    .relatorio-container,
    .grafico-relatorio2 {
        margin: 0;
    }

    .container-principal2{
        justify-content: center;
        gap: 60px;
    }

    .processo-container{
        margin-left: 0;
    }

    .processo-container2 img{
        width: 350px;
        height: auto;
    }

    
}

/* Celulares grandes (até 768px) */
@media (max-width: 768px) {
    .container-principal{
        flex-direction: column;
        align-items: center;
    }

    .container-principal2{
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .relatorio-container,
    .grafico-relatorio2,
    .processo-container {
        width: 90%;
        margin-left: 0;
        margin-right: 0;
    }

    .processo-container2 img{
        width: 100%;
        height: auto;
    }
}

/* Celulares pequenos (até 480px) */
@media (max-width: 480px) {
    .relatorio-container,
    .grafico-relatorio2,
    .processo-container{
        padding: 10px;
    }

    .processo-container2 img{
        width: 100%;
        height: auto;
    }
}
