
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.conteinar-principal {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    gap: 20px;
}

.colaboradores {
    flex: 3;
    padding-right: 20px;
}

.colaboradores h3{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.table {
    width: 100%;
    background: #C8D6E5;
    border-radius: 10px;
    margin-top: 15px;
    padding-bottom: 0;
    margin-left: 0;
    overflow: hidden;
    margin-left: 20px;
}

.table-head,
.row-b {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.table-head {
    background: #647A95;
    padding: 12px 20px;
    color: white;
    font-weight: bold;
}

.row-b {
    padding: 12px 20px;
    border-bottom: 1px solid #b1c1d2;
    align-items: center;
}


.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-img {
    width: 40px;
    height: 40px;
    background: #eee;
    border-radius: 50%;
}

.status.online {
    color: green;
    font-weight: bold;
}

.status.offline {
    color: gray;
    font-weight: bold;
}

.user-info span {
  background: transparent !important; 
}

.activity {
    flex: 1;
    max-width: 260px;
    background: #DCE4ED;
    padding: 20px;
    border-left: 2px solid #cdd9e5;
    height: 100%;
}

.activity-item {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
}

.circle {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background: #77B3E7;
}
